@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1a2036;
  --card-primary: #252b43;
  --font-primary: #b3b8d5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--font-primary);
}
